@model FirstMVCApp.Models.Pen

@{
    ViewData["Title"] = "AddNewPen";
}

<h1>AddNewPen</h1>

<h4>Pen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewPen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PenId" class="control-label"></label>
                <input asp-for="PenId" class="form-control" />
                <span asp-validation-for="PenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenName" class="control-label"></label>
                <input asp-for="PenName" class="form-control" />
                <span asp-validation-for="PenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add a new pen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PendetailsList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
