@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["CompanyName"] = "Eurofns";
    ViewBag.marks = 100;
}

<h1>this is a sample page</h1>
<h2>my company name is  @ViewData["Company Name"]</h2>
<h3>@ViewBag.marks</h3>
<hr/>
<hr/>

<h2>my company name is  @ViewBag.CompanyName</h2>
<h3>@ViewData["marks"]</h3>